<%= form_tag translations_path, :id => "#{locale}.#{key}".gsub('.', '-'), :class => "translate", "data-remote" => true, :method => "post" do %>
  <%= hidden_field_tag :key, "#{locale}.#{key}" %>

  <span class='locale'><%= locale %>: </span><%= text_field_tag :value, "value tk" %>
  <%= submit_tag "Save", "data-disable-with" => "Saving...", :class => 'button' %>
<% end %>

